<%- include('partials/header.ejs') %>
    <main>
        <!-- ist blog -->
        <div class="mian sd-margin">
            <div class=" main-blog col-lg-8 ">
                <a href="#"><img src="../icons/1.jpg" alt=""></a>
                <h2 class="image-text"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h>
            </div>
            <div class=" side-bar">

                <div class="_ist">
                    <a href="#"><img src="../icons/2.jpg" alt=""></a>
                    <div class="image-text">
                        <a href="#">
                            Databse is necassary for every Buisnessx
                        </a>
                    </div>
                </div>
                <div class="_2nd">
                    <a href="#"><img src="../icons/3.jpg" alt=""></a>
                    <div class="image-text"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Adipisci maxime consequuntur voluptas eos impedit possimus.</a></div>
                </div>
            </div>
        </div>
        <!-- Next portion -->
        <div class="row sd-margin">
            <!-- 60% part div -->
            <div class="col-lg-8  left">
                <!-- news part -->
                <div class="latest-News">
                    <div class="position-sticky heading">
                        <div>
                            <h4 >Latest News</h4>
                        </div>
                    </div>
                    <!-- sections littel littel -->
                    <div class="S-section">
                        <!-- img div -->
                        <div class="image">
                            <img src="../icons/5.jpg" alt="">
                        </div>
                        <!-- text div -->
                        <div class="text">
                            <a href="#">
                                <h3>A Discount Toner Cartridge Is Better Than Ever.</h3>
                            </a>
                            <ul>
                                <li>Mark Stephen</li>
                                <li>04 April, 2019</li>
                                <li>Likes</li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Adipisci, necessitatibus repellendus error ex doloribus eligendi?
                            </p>
                        </div>
                    </div>
                    <!-- 2nd   -->
                    <div class="S-section">
                        <!-- img div -->
                        <div class="image">
                            <img src="../icons/4.jpg" alt="">
                        </div>
                        <!-- text div -->
                        <div class="text">
                            <a href="#">
                                <h3>A Discount Toner Cartridge Is Better Than Ever.</h3>
                            </a>
                            <ul>
                                <li>Mark Stephen</li>
                                <li>04 April, 2019</li>
                                <li>Likes</li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Adipisci, necessitatibus repellendus error ex doloribus eligendi?
                            </p>
                        </div>
                    </div>
                    <!-- 3rd -->
                    <div class="S-section">
                        <!-- img div -->
                        <div class="image">
                            <img src="../icons/3.jpg" alt="">
                        </div>
                        <!-- text div -->
                        <div class="text">
                            <a href="#">
                                <h3>A Discount Toner Cartridge Is Better Than Ever.</h3>
                            </a>
                            <ul>
                                <li>Mark Stephen</li>
                                <li>04 April, 2019</li>
                                <li>Likes</li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Adipisci, necessitatibus repellendus error ex doloribus eligendi?
                            </p>
                        </div>
                    </div>
                    <!-- 4th -->
                    <div class="S-section">
                        <!-- img div -->
                        <div class="image">
                            <img src="../icons/3.jpg" alt="">
                        </div>
                        <!-- text div -->
                        <div class="text">
                            <a href="#">
                                <h3>A Discount Toner Cartridge Is Better Than Ever.</h3>
                            </a>
                            <ul>
                                <li>Mark Stephen</li>
                                <li>04 April, 2019</li>
                                <li>Likes</li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Adipisci, necessitatibus repellendus error ex doloribus eligendi?
                            </p>
                        </div>
                    </div>
                    <!-- 5th -->
                    <div class="S-section">
                        <!-- img div -->
                        <div class="image">
                            <img src="../icons/3.jpg" alt="">
                        </div>
                        <!-- text div -->
                        <div class="text">
                            <a href="#">
                                <h3>A Discount Toner Cartridge Is Better Than Ever.</h3>
                            </a>
                            <ul>
                                <li>Mark Stephen</li>
                                <li>04 April, 2019</li>
                                <li>Likes</li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Adipisci, necessitatibus repellendus error ex doloribus eligendi?
                            </p>
                        </div>
                    </div>
                    <!-- 6th -->
                    <div class="S-section">
                        <!-- img div -->
                        <div class="image">
                            <img src="../icons/3.jpg" alt="">
                        </div>
                        <!-- text div -->
                        <div class="text">
                            <a href="#">
                                <h3>A Discount Toner Cartridge Is Better Than Ever.</h3>
                            </a>
                            <ul>
                                <li>Mark Stephen</li>
                                <li>04 April, 2019</li>
                                <li>Likes</li>
                            </ul>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Adipisci, necessitatibus repellendus error ex doloribus eligendi?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 40n % part is here -->
            <div class="col-lg-4  recentPost">

                <div class="position-sticky" style="top: 1.5rem;">
              

                    <div>
                        <h4 class="fst-italic rp_Heading">Recent posts</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                    href="#">
                                    <svg class="bd-placeholder-img" width="100%" height="96"
                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                        preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <rect width="100%" height="100%" fill="#777"></rect>
                                    </svg>
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">Example blog post title</h6>
                                        <small class="text-body-secondary">January 15, 2023</small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                    href="#">
                                    <svg class="bd-placeholder-img" width="100%" height="96"
                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                        preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <rect width="100%" height="100%" fill="#777"></rect>
                                    </svg>
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">This is another blog post title</h6>
                                        <small class="text-body-secondary">January 14, 2023</small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                    href="#">
                                    <svg class="bd-placeholder-img" width="100%" height="96"
                                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                        preserveAspectRatio="xMidYMid slice" focusable="false">
                                        <rect width="100%" height="100%" fill="#777"></rect>
                                    </svg>
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                                        <small class="text-body-secondary">January 13, 2023</small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">March 2021</a></li>
                            <li><a href="#">February 2021</a></li>
                            <li><a href="#">January 2021</a></li>
                            <li><a href="#">December 2020</a></li>
                            <li><a href="#">November 2020</a></li>
                            <li><a href="#">October 2020</a></li>
                            <li><a href="#">September 2020</a></li>
                            <li><a href="#">August 2020</a></li>
                            <li><a href="#">July 2020</a></li>
                            <li><a href="#">June 2020</a></li>
                            <li><a href="#">May 2020</a></li>
                            <li><a href="#">April 2020</a></li>
                        </ol>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div>

            </div>
        </div>

        <%- include('partials/footer.ejs') %>
    </main>